html, body, nav, header, section, 
aside, footer, div, span, h1, h2, 
h3, h4, h5, h6, p, ol, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  box-sizing: border-box;
}

/**div {
  border: 1px solid #ddd;
}**/

*, *:before, *:after {
  box-sizing: inherit;
}

ol, ul {
  list-style-type: none;
  padding: 0;
}
/** START OF CUSTOM STYLES **/

body {
  background-color: #fbfbfb;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
}

/*::selection {
    background: #171818;
    color: #fbfbfb
}


/** HEADER SECTION **/

header {
  width: 100%;
  background-image: url('../img/himym-bg3.jpg');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 49.938rem;
  overflow: auto; 
}

div.intro {
  height: 47.938rem;
  position: relative;
  max-width: 75rem;
  margin: 18px auto;
}

#start {
  border: 4px solid #F17f52;
  border-radius: 10px;
  font-family: Montserrat;
  font-size: 26px;
  width: 200px;
  padding: 10px;
  text-transform: uppercase;
  background-color: #515673;
  color: #F17f52;
  display: block;
  margin: auto;
 
}

#start:focus {
  outline: none;
}

#himym {
  border: 3px solid #F17f52;
  background-color: #515673;
  max-width: 30rem;
  margin: 17rem auto;
  position: relative;
  border-radius: 10px;
  text-align: center;
  text-transform: uppercase;
  font-family: Montserrat;
  color: #F17f52;
}

#himym h3 {
  font-size: 24px;
  padding: 10px 0;
}

#himym h1 {
  font-size: 30px;
  padding: 10px 0;
}

div.quizContainer {
  border: 3px solid #0b0b0b;
  background-color: #515673;
  height: 24.5rem;
  width: 50rem;
  max-width: 50rem;
  margin: -30rem auto;
  position: relative;
  border-radius: 20px;
  text-align: center;
  color: #F17F52;
}

#track {
  display: block;
  max-width: 100%;
  padding: 10px 0;
  text-align: center;
  
  font-size: 1.5rem; 
}

#track .fa {
  margin: 10px;
}

.item {
  max-width: 70%;
  margin: auto;
  font-size: 22px;
  
}

.answers {
  max-width: 70%;
  text-align: left;
  margin: auto;
  padding: 20px 10px;
  font-size: 20px;
}
